###
# Unity folders and files
###
[Aa]ssets/AssetStoreTools*
[Bb]uild/
[Ll]ibrary/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Tt]emp/
[Uu]nityGenerated/
Assets/assetsIgnored/*
Assets/huehue/*
Assets/Plugins/*
Assets/Gizmos/*
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta
.vs/*
Assets/_DLNK
Assets/AmplifyColor
Assets/AmplifyOcclusion
Assets/Art
Assets/ColorfulFX
Assets/DynamicNature-MountainTreePack
Assets/EasyFPS
Assets/Enviro-DynamicEnviroment
Assets/Gareoult
Assets/Gizmos
Assets/Plugins
Assets/PostProcessing
Assets/PostProcessingProfiles
Assets/PostProcessing-2
Assets/WorldCreator
Assets/StandardAssets
Assets/NaturePack2
Assets/SSAOPro/*
Assets/UI-BUILDER/*
Assets/RockandBoulders3/*
Assets/3dgamekit/*
Assets/FreeGunsPack/*






























###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store
*.fbx
*.anim
*.controller
*.mat
*.png
*.txt
*.meta
*.shader
*.tiff
*.psd
*.tif










###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
